    <!DOCTYPE html>
    <html ng-app="myApp">
    <head>
    <title>Cafepos.nl | De beste kassasoftware van Nederland!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="../style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <script src="home.js"></script>
    </head>
    <body data-ng-controller="PosController">
    <div class="col-md-12">
    <div class="row">
        <!-- Producten -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#favorieten" role="tab" data-toggle="tab">Favorieten</a> </li>
                        <li role="presentation"><a href="#dranken" role="tab" data-toggle="tab">Dranken</a></li>
                        <li role="presentation"><a href="#eten" role="tab" data-toggle="tab">Eten</a></li>
                        <li role="presentation"><a href="#nieuw" role="tab" data-toggle="tab">Nieuw product</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="favorieten">
                            <button class="btn btn-primary btn-pos btn-marginTop" data-ng-repeat="item in favorieten" data-ng-bind="item.name" data-ng-click="addToOrder(item, 1)"></button>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="dranken">
                            <button class="btn btn-primary btn-pos btn-marginTop col-md-3 col-xs-2" data-ng-repeat="item in dranken" data-ng-bind="item.name" data-ng-click="addToOrder(item,1)"></button>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="eten">
                            <button class="btn btn-warning btn-pos btn-marginTop col-md-3 col-xs-2" data-ng-repeat="item in eten" data-ng-bind="item.name" data-ng-click="addToOrder(item,1)"></button>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="nieuw">
                            <br />
                            <form class="form" name="formCreate" novalidate>
                                <div class="col-md-4">
                                    <label>Naam*</label>
                                    <input type="text" class="form-control" data-ng-model="nieuw.name" required />
                                </div>
                                <div class="col-md-3">
                                    <label>Prijs*</label>
                                    <input type="number" class="form-control" data-ng-model="nieuw.price" required />
                                </div>
                                <div class="col-md-3">
                                    <label>Categorie*</label>
                                    <select class="form-control" data-ng-model="nieuw.category" required>
                                        <option>Dranken</option>
                                        <option>Eten</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <br />
                                    <button class="btn btn-default btn-marginTop" data-ng-click="addNewItem(nieuw)" data-ng-disabled="formCreate.$invalid">Toevoegen</button>
                                </div>
                            </form>
                        </div>
                        <!-- TODO ZOEKFUNCTIE IN DE TABPANE LATEN ZIEN
                        <div role="tabpanel" class="ieks" name="zoeken" id="zoeken">
                            <input type="text" placeholder="zoeken...">
                        </div>-->
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <!-- Bestellingsoverzicht -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4"><span class="panel-title">Bestellingsoverzicht</span></div>
                        <div class="col-md-4"><span>Datum: {{getDate()}}</span></div>
                        <div class="col-md-3 col-md-push-1"><span>Totaal aantal orders - </span><span class="badge">{{totOrders}}</span></div>
                    </div>
                </div>
                <div class="panel-body" style="max-height:320px; overflow:auto;">
                    <div class="row">
                            <div class="col-md-1 quantity-sign mobile-hide" >
                                <p class="">Aantal</p>
                            </div>
                            <div class="col-md-4 product-sign mobile-hide">
                                <p>Product</p>
                            </div>
                            <div class="col-md-2 mobile-hide">
                                <p>Aanpassen</p>
                            </div>
                            <div class="col-md-1 col-md-push-1 mobile-hide">
                                <p>stukpr</p>
                            </div>
                            <div class="col-md-1 col-md-push-2 mobile-hide">
                                <p>Totaal</p>
                            </div>
                    </div>
                    <div class="text-warning" ng-hide="order.length">
                        Nog geen producten geselecteerd!
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="item in order">
                            <div class="row">
                                <div class="col-md-1 col-xs-1 ">
                                    <span class="badge badge-left" ng-bind="item.qty"></span>
                                </div>
                                <div class="col-md-4 col-xs-3">
                                    {{item.name}}
                                </div>

                                <div class="col-md-2 col-xs-4">
                                    <button class="btn btn-success btn-xs" ng-click="addToOrder(item,1)">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button class="btn btn-warning btn-xs" ng-click="removeOneEntity(item)">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                    <button class="btn btn-danger btn-xs" ng-click="removeItem(item)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                                <div class="col-md-1 col-md-push-1 col-xs-1 ">
                                    <div class="">{{item.price | currency:"€":0}}</div>
                                </div>
                                <div class="col-md-1 col-md-push-2 col-xs-1">
                                    <div class="">{{item.price * item.qty | currency:"€":0}}</div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-body" style="max-height:320px; overflow:auto;" ng-show="order.length">
                    <form class="form" name="formMessage" novalidate>
                            <label>Opmerkingen:</label>
                            <input type="text" class="form-control" ng-disabled="!order.length" id = "comment"/>
                            <!--TODO create submitComment() method in app.js, to place comment-->
                            <button class=" btn btn-default btn-marginTop" data-ng-click="console.log(comment)" data-ng-disabled="formMessage.$invalid">Plaatsen</button>
                    </form>
                    <br />
                    <div class="table-select">
                        <label class="col-md-12 col-xs-12">Selecteer bijbehorende tafel:</label>
                        <button class="btn btn-success btn-pos btn-xs col-md-1 col-xs-2" data-ng-repeat="item in tafels" data-ng-bind="item.name"></button>
                    </div>
                </div>
                <div class="panel-footer" ng-show="order.length">
                    <h3><span class="label label-warning">Totaal: {{getTotal() | currency:"€":0}}</span></h3>
                </div>
                <div class="panel-footer" ng-show="order.length">
                    <div class="row">
                        <div class="md-col-12">
                            <span class="btn btn-default btn-marginTop col-md-3 col-xs-6" ng-click="clearOrder()" ng-disabled="!order.length">Annuleren</span>
                            <span class="btn btn-primary btn-marginTop col-md-3 col-xs-6" ng-click="addToTable()" ng-disabled="!order.length">Toevoegen aan tafel</span>
                            <span class="btn btn-success btn-marginTop btn-direct-checkout col-md-3 col-xs-12" ng-click="checkout()" ng-disabled="!order.length">Direct afrekenen</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
    </html>
    <script>
    $(document).ready(function () {
    $("#myTab a").click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });
    });
    </script>

