<div class="col-md-12">
    <div class="row">
        <!-- section tables  -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div role="tabpanel" class="tab-pane active" id="tafelsA">
                        <!-- show the tables with name = A...-->
                        <button class="btn btn-success btn-pos btn-marginTop"   data-ng-repeat="tafel in tafels | filter:{cafe_id: userCafeID}" ng-if="tafel.naam.indexOf('A') > -1" data-ng-bind="tafel.naam" data-ng-click="getTable(tafel.naam)"></button>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div role="tabpanel" class="tab-pane active" id="tafelsB">
                        <!-- show the tables with name = B...-->
                        <button class="btn btn-warning btn-pos btn-marginTop" data-ng-repeat="tafel in tafels | filter:{cafe_id: userCafeID}" ng-if="tafel.naam.indexOf('B') > -1" data-ng-bind="tafel.naam" data-ng-click="getTable(tafel.naam)"></button>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div role="tabpanel" class="tab-pane active" id="tafelsC">
                        <!-- show the tables with name = C... ng-if="tafel.naam.indexOf('C') > -1"   -->
                        <button class="btn btn-primary btn-pos btn-marginTop" data-ng-repeat="tafel in tafels | filter:{cafe_id: userCafeID}" ng-if="tafel.naam.indexOf('C') > -1"  data-ng-bind="tafel.naam" data-ng-click="getTable(tafel.naam)"></button>
                    </div>
                </div>

            </div>

        </div>

        <!-- section order view -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4"><span class="panel-title">Bestellingsoverzicht</span></div>
                        <div class="col-md-4"><span>Datum: {{getDate()}}</span></div>
                        <div class="col-md-3 col-md-push-1"><span>Totaal aantal orders - </span><span class="badge">{{totOrders}}</span></div>
                    </div>
                </div>
                <div class="panel-body" style="max-height:320px; overflow:auto;">
                    <div class="row">
                        <div class="col-md-1 quantity-sign mobile-hide" >
                            <p class="">Aantal</p>
                        </div>
                        <div class="col-md-4 product-sign mobile-hide">
                            <p>Product</p>
                        </div>
                        <div class="col-md-2 mobile-hide">
                            <p>Aanpassen</p>
                        </div>
                        <div class="col-md-1 col-md-push-1 mobile-hide">
                            <p>stukpr</p>
                        </div>
                        <div class="col-md-1 col-md-push-2 mobile-hide">
                            <p>Totaal</p>
                        </div>
                    </div>
                    <!--<div class="text-warning" ng-hide="currentTable.order.length">
                        Nog geen producten geselecteerd!
                    </div>-->
                    <ul class="list-group">
                        <li class="list-group-item">
                            <!-- filter: currentTable : true  ||  | groupBy : 'product_naam' -->
                            <div class="row" ng-repeat="prod in product_view" ng-if="prod.tafel_naam === currentTable">
                                <div class="col-md-1 col-xs-1 ">
                                    <span class="badge badge-left" ng-bind="prod.aantal"></span>
                                </div>
                                <div class="col-md-4 col-xs-3">
                                    {{prod.product_naam}}
                                </div>

                                <!-- @TODO do we need this buttons? Add/Remove/Minus -->
                                <div class="col-md-2 col-xs-4">
                                    <button class="btn btn-success btn-xs" ng-click="changeOrderQty(currentTable, prod.product_naam, 'plusOne')">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <button class="btn btn-warning btn-xs" ng-click="changeOrderQty(currentTable, prod.product_naam, 'minusOne')">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </div>
                                <div class="col-md-1 col-md-push-1 col-xs-1 ">
                                    <div class="">{{prod.prijs /100 | currency:"€":2}}</div>
                                </div>
                                <div class="col-md-1 col-md-push-2 col-xs-1">
                                    <div class="">{{(prod.prijs * prod.aantal) /100 | currency:"€":2}}</div>
                                </div>


                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <!-- show the total price on the current table -->
                    <h3><span class="label label-warning">Totaal: {{getTotalTable(currentTable) | currency:"€":2}}</span></h3>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="md-col-12">
                            <!-- @TODO alert button -> confirmation before entire order is deleted -- annuleren -- -->
                            <span class="btn btn-default btn-marginTop col-md-3 col-xs-6" ng-click="deleteOrder(currentTable)">Annuleren</span>
                            <span class="btn btn-success btn-marginTop btn-direct-checkout col-md-3 col-xs-12" ng-click="checkoutTable(currentTable)">Afrekenen</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>