<div class="col-md-12">
    <div class="row">
        <!-- Product toevoegen -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4"><span class="panel-title">Product toevoegen</span></div>
                    </div>
                </div>
                <div class="panel-body" id = "nieuw">
                    <form class="form" name="formCreate" novalidate>
                        <div class="col-md-4">
                            <label>Naam*</label>
                            <input type="text" class="form-control" data-ng-model="nieuw.naam" required />
                        </div>
                        <div class="col-md-2">
                            <label>Prijs*</label>
                            <input type="number" class="form-control" data-ng-model="nieuw.prijs" required />
                        </div>
                        <div class="col-md-3">
                            <label>Categorie*</label>
                            <select class="form-control" data-ng-model="nieuw.categorie" required>
                                <option>Drinken</option>
                                <option>Eten</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <button class="btn btn-default btn-marginTop" data-ng-click="addNewItem(nieuw)">Toevoegen</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <!-- Product verwijderen -->
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4"><span class="panel-title">Product verwijderen</span></div>
                    </div>
                </div>
                <div class="panel-body" id = "verwijderen">
                    <form class="form" name="formCreate" novalidate>
                        <div class="col-md-4">
                            <label>Categorie*</label>
                            <select class="form-control" data-ng-model="verwijderen.category" required>
                                <option>Dranken</option>
                                <option>Eten</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Product*</label>
                            <select class="form-control" data-ng-model="verwijderen.product" required>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <br />
                            <button class="btn btn-default btn-marginTop" data-ng-click="addNewItem(nieuw)" data-ng-disabled="formCreate.$invalid">Verwijderen</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
        <!-- Gebruiker verwijderen -->
        <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4"><span class="panel-title">Gebruikers</span></div>
                </div>
            </div>
            <div class="panel-body" style="max-height:320px; overflow:auto;">
                <div class="row">
                    <div class="col-md-4 quantity-sign mobile-hide" >
                        <p class="">Naam</p>
                    </div>
                    <div class="col-md-4 quantity-sign mobile-hide" >
                        <p class="">Gebruikersnaam</p>
                    </div>
                    <div class="col-md-4 quantity-sign mobile-hide" >
                        <p class="">Verwijderen</p>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="user in vm.allUsers">
                        <div class="row">
                            <div class="col-md-4 col-xs-3">
                                {{user.firstName}} {{user.lastName}}
                            </div>
                            <div class="col-md-4 col-xs-3">
                                {{user.username}}
                            </div>
                            <div class="col-md-2 col-xs-4">
                                <button class="btn btn-danger btn-xs" ng-click="vm.deleteUser(user.id)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-body" id = "gebruiker-nieuw">
                <form class="form" name="formCreate" novalidate>
                    <div class="col-md-4">
                        <label>Naam*</label>
                        <input type="text" class="form-control" data-ng-model="gebruiker-nieuw.naam" required />
                    </div>
                    <div class="col-md-2">
                        <label>Gebruikersnaam*</label>
                        <input type="number" class="form-control" data-ng-model="gebruiker-nieuw.username" required />
                    </div>
                    <div class="col-md-2">
                        <label>Wachtwoord*</label>
                        <input type="text" class="form-control" data-ng-model="gebruiker-nieuw.password" required>
                    </div>
                    <div class="col-md-2">
                        <label>Rechten*</label>
                        <input type="text" class="form-control" data-ng-model="gebruiker-nieuw.rechten" required>
                    </div>

                    <div class="col-md-3">
                        <br />
                        <button class="btn btn-default btn-marginTop" data-ng-click="addNewUser(nieuw)">Toevoegen</button>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    </div>
</div>
